body{
    color: blue;
}

.print-btn{
    display: none;
}

.pagebreak{
    page-break-after: always;
}

.header{
    position: static;

    -webkit-print-color-adjust: exact;
}

.content{
    -webkit-print-color-adjust: exact;

    padding: 0;
    margin: 0 auto;
}

@page{
    size: legal;

    margin: 0;
}